<div class="form">
    {{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.texte) }}
        {{ form_row(form.image) }}
        {{ form_row(form.codepostal, {'label' : 'Code Postal'}) }}
        <button class="btn btn-dark">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
</div>
