{% extends 'base.html.twig' %}

{% block title %}SiteAnnoncesClassiques{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="alert alert-success">Vous êtes connecté(e), {{ app.user.prenom }} {{ app.user.nom }} ! Bienvenue!</div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('newannonce') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('editannonce') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('deleteannonce') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Texte</th>
                <th>Photo</th>
                <th>Téléphone</th>
                <th>Code postal</th>
                <th>Publié le:</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.titre }}</td>
                <td>{{ annonce.texte }}</td>
                <td><img class="img-thumbnail" id="mainphoto" src="{{ asset('uploads/images/') }}{{ annonce.urlimage }}" alt="{{ annonce.urlimage }}"></td>
                <td>{{ annonce.telephone }}</td>
                <td>{{ annonce.codepostal }}</td>
                <td>{{ annonce.date ? annonce.date|date('d-m-Y') : '' }}</td>
                <td>
                {% if annonce.telephone == app.user %}
                    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Modifier l'annonce</a>
                    <a href="{{ path('app_annonce_delete', {'id': annonce.id}) }}">Supprimer l'annonce</a>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune annonce enregistrée.</td>
            </tr>
        {% endfor %}
        {{ knp_pagination_render(annonces) }}
        </tbody>
    </table>
{% endblock %}
