{% extends 'base.html.twig' %}

{% block title %}SiteAnnoncesClassiques{% endblock %}

{% block body %}
    <h1>Liste des annonces</h1>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="alert alert-success">Vous êtes connecté(e), {{ app.user.prenom }} {{ app.user.nom }} !</div>
    {% endif %}

    {% for flashMessage in app.session.flashbag.get('newannonce') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('editannonce') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('deleteannonce') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('logout') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}

        <main>
        {% for annonce in annonces %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" id="mainphoto" src="{{ asset('uploads/images/') }}{{ annonce.urlimage }}" alt="{{ annonce.urlimage }}">
                <div class="card-body">
                    <h5 class="card-title">{{ annonce.titre }}</h5>
                    <p class="card-text">{{ annonce.texte }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Téléphone: {{ annonce.telephone }}</li>
                    <li class="list-group-item">Code postal: {{ annonce.codepostal }}</li>
                    <li class="list-group-item">Publiée le: {{ annonce.date ? annonce.date|date('d-m-Y') : '' }}</li>
                </ul>
                {% if annonce.telephone == app.user %}
                    <div class="card-body" id="linksbutton">
                        <a class="card-link" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}"><button class="btn btn-dark">Modifier l'annonce</button></a>
                        {{ include('annonce/_delete_form.html.twig') }}
                    </div>
                {% endif %}
            </div>
        {% else %}
            <span>Aucune annonce enregistrée.</span>
        {% endfor %}
        </main>
        {{ knp_pagination_render(annonces) }}
    </table>
{% endblock %}
