{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ annonce.texte }}</td>
            </tr>
            <tr>
                <th>Urlimage</th>
                <td><img src="{{ asset('uploads/images/') }}{{ annonce.urlimage }}" alt="{{ annonce.urlimage }}"></td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ annonce.telephone }}</td>
            </tr>
            <tr>
                <th>Codepostal</th>
                <td>{{ annonce.codepostal }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ annonce.date ? annonce.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annonce_index') }}">back to list</a>

    <a href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">edit</a>

    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
