{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Détails de l'annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ annonce.titre }}</td>
            </tr>
            <tr>
                <th>Texte</th>
                <td>{{ annonce.texte }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="{{ asset('uploads/images/') }}{{ annonce.urlimage }}" alt="{{ annonce.urlimage }}"></td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ annonce.telephone }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ annonce.codepostal }}</td>
            </tr>
            <tr>
                <th>Publiée le:</th>
                <td>{{ annonce.date ? annonce.date|date('d-m-Y') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="optionsannonces">
        <a role="button" class="btn btn-dark" href="{{ path('app_accueil') }}">Retour à la liste d'annonces</a>

        {% if annonce.telephone == app.user %}
                <a role="button" class="btn btn-dark" href="{{ path('app_annonce_edit', {'id': annonce.id}) }}">Modifier l'annonce</a>
                {{ include('annonce/_delete_form.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
